
# Other
HOME_DIRECTORY=/user/local/app
CREATION_TOKEN_PASSWORD=

# DJANGO
DJANGO_ALLOWED_HOSTS=*
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=

# DB
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_SSL=False

# Auth
JWT_KEY=

# Logs
DEBUG_LOGGERS=
LOGLEVEL=

# S3
AWS_ACCESS_KEY_ID=
AWS_S3_REGION_NAME=eu-west-3
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
